<html>
    <head>
        <%- include ('head.ejs') %>
        <link rel="stylesheet" href="outer.css" type="text/css">
    </head>
    <body id="indexer">
        <h2>Game code</h2>
        <input type="text" id="codeInput">
        <div ontouchstart="">
            <button id="createGame" class="button"><a href="#">Create Game</a></button>
        </div>
        <div ontouchstart="">  <button id="joinGame" class="button"><a href="#">Join Game</a></button></div>
      
        <div style="color: red" id="errorMessage"></div>

        <script>
        $(document).ready(function() {
            $('#createGame').on('click', function() {
                console.log('Clicked Create game button');
                window.location.replace('/white?code=' + encodeURIComponent($('#codeInput').val()));
            });

            $('#joinGame').on('click', function() {
                console.log('Clicked Join game button');
                window.location.replace('/black?code=' + encodeURIComponent($('#codeInput').val()));
            });
            var urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get('error') == 'invalidCode') {
                $('#errorMessage').text('Invalid invite code');
            }
        });
        </script>
    </body>
</html>